@page
@model Server.Pages.Admin.Comments.DeleteModel

@{
	var pageTitle =
		$"{Resources.ButtonCaptions.Delete} {Resources.DataDictionary.Comment}";

	ViewData[Infrastructure.ViewDataKeyNames.PageTitle] = pageTitle;

	Layout = "Layouts/Admin/Rtl/_Layout";

}

<section-form>
	<fieldset disabled>
		<section-form-header>
			@(pageTitle)
		</section-form-header>

		<partial name="PartialViews/_DisplayPageMessages" />

		<section-form-field>
			<label asp-for="ViewModel.Id"></label>
			<input asp-for="ViewModel.Id" />
		</section-form-field>

		<section-form-field>
			<label asp-for="ViewModel.Comment"></label>
			<input asp-for="ViewModel.Comment" />
		</section-form-field>

		<section-form-check>
			<input asp-for="ViewModel.IsVerified" />
			<label asp-for="ViewModel.IsVerified"></label>
		</section-form-check>

		<section-form-field>
			<label asp-for="ViewModel.Score"></label>
			<input asp-for="ViewModel.Score" />
		</section-form-field>

	</fieldset>

	<form method="post">
		<section-form-buttons>
			<input type="hidden" asp-for="ViewModel.Id" />
			<button-delete />
		</section-form-buttons>
	</form>

	<section-form-footer>
		<a asp-page="Index">
			@(Html.DtatGetLinkCaptionForList())
		</a>
		<a asp-page="Verify" asp-route-id="@(Model.ViewModel.Id)">
			@(Html.DtatGetLinkCaptionForVerify())
		</a>
	</section-form-footer>
</section-form>
